<p-iconfield>

  <p-inputicon
    [class]="'pi pi-lock'"
    style="cursor: pointer"
  />
  <input
    [type]="showPassword() ? 'text' : 'password'"
    pInputText
    [value]="value"
    [disabled]="disabled"
    (input)="onInputChange($event)"
    (blur)="onTouch()"
    [placeholder]="placeholder"
    [attr.id]="inputId()"
  >
  <p-inputicon
    [class]="showPassword() ? 'pi pi-eye-slash' : 'pi pi-eye'"
    (click)="togglePasswordVisibility()"
    style="cursor: pointer"
  />


</p-iconfield>




